@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

@keyframes rotate { 
    from { transform: rotate(0deg);  } 
    to { transform: rotate(360deg);  }
 }


:root {
    --primary-color: rgb(236, 72, 153);
    --secondary-color: #007BFF;
    --background-color: black;
    --text-color: white;
    --hover-bg-color: rgba(255, 255, 255, 0.2);
    --hover-bg-color-light: rgba(255, 255, 255, 0.7);
}
body label{
    display:none;
}
body #me{
    display:none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

/* =================== Global Styles ========================= */
.container {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left{
    display: flex;
    gap: 1vh;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .left ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px;
}

nav .left ul a {
    text-decoration: none;
    font-size: 20px;
}

nav .left ul a i{
    transition: transform 0.5s ease;
}

nav .left ul a i:hover{
    background-color: none;
    animation: rotate 5s linear infinite;    
}

@keyframes rotate { 
    from { transform: rotate(0deg);  } 
    to { transform: rotate(360deg);  }
}

nav .left ul a:hover{
    background-color: rgb(236, 72, 153);
    background-size: 0cqmax;
}

nav .right {
    display: flex;
    gap: 30px;
}

nav .right input {
    width: 200px;
    border: 2px solid black;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 5px;
}

nav .right input:hover{
    background: transparent;
    border: 1px solid white;
    outline: none;
}

nav .right button {
    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

nav .right button:hover{
    background: rgba(255, 255, 255, 0.2);
}

/* =================== nav bar ========================= */
/* =================== main ========================= */

#top-part{
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}


.top{
    width: 100%;
    /* color: #18181d; */
    /* padding-right: 1vh; */
}

.top input{
    width: 80%;
    background-color: #18181d;
    height: 5vh;
    border-radius: 15px;
    border: none;
    
}

.top input:hover{
    border: 1px solid rgb(236, 72, 153);
}

.top button{
    width: 17%;
    background-color: #18181d;
    height: 5vh;
    border-radius: 16px;
    border: none;
}

.top button:hover{
    background-color: rgb(236, 72, 153);
}


.bottom{
    display: flex;
    gap: 1vh;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.bottom div{
    width: auto;
    display: grid;
   
}
.bottom div label{
    display: flex;
    position: relative;
    margin-top: 2vh;
}


.bottom div select{
    width: 20vh;
    height: 5vh;
    background-color: #18181d;
    border-radius: 12px;
    border: none; 
}

.bottom div select:hover{
    border:1px solid rgb(236, 72, 153);
    cursor: pointer;
}


/* =================== section-2 ========================= */

#recent {
    padding: 20px; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#recent .re-header {
    align-self: baseline;
    padding-left: 30vh;
}

.re-header h1 span {
    color: var(--primary-color);
}

.recent-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 80%;
    row-gap: 20px;
    gap: 4vh;
}

.recent-images img {
    width: 100%;
    border-radius: 8px; 
    position: relative;
    transition: transform 0.5s ease, width 0.5s ease;
}

.recent-images img:hover {
    transform: scale(1.1);
    filter: blur(2px);
}

/* =================== section-2 ========================= */
/* =================== main ========================= */
/* =================== footer ========================= */

footer{
    width: 100%;
    height: 30vh;
    background-color: #111;
    display: flex;
    justify-content: space-around;
}

footer .left{
    align-self: center;
    height: auto;
    width: 60vh;
    font-size: x-small
}


footer .right{
    display: flex;
        gap: 6vh;
        font-size: small;
        align-self: center;
}

footer .left h1 a{ 
    text-decoration: none;
    font-family: 'Chelsea Market';
}



footer .right ul{
    list-style: none;

}

footer .right ul li{
    color: grey;
}

footer .right ul li:hover{
    color: white;
    cursor:pointer;
}
/* =================== footer ========================= */

@media (max-width: 750px) {
    
    
    body {
        font-size: 14px; 
    }
    .container{
        padding: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }

    nav .left ul {
        display: none;
        padding: 0; }

    nav .right {
        display: flex;
        align-items: center;
    }

    nav .right input {
        width: 80%;
        max-width: 200px; 
    }

    nav .left button {
        width: 80%; 
        max-width: 200px; }
        
    .slides div{
        padding-left: 0px;
    }

    .slides .content p {
        font-size: 12px; 
    }


    .recent-images {
        grid-template-columns: repeat(2, 1fr); 
    }

    #trending .trending_head{
        padding-left: 6vh;
    }

    #recent .re-header {
        padding-left: 6vh;
    }

   
}

@media (max-width: 450px) {
    body label {
        padding: 5px;
        border-radius: 5px;
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px; 
        z-index: 9999;
        background-color: rgb(128, 128, 128);
        margin: 0;
    }

    body label i {
        color: var(--primary-color);
    }

    #top-part
    {
        width: 300px;
        margin-top: 10px;

    }

        #top-part .bottom{
            display: none;
        }


    nav{
        display: flex;
        justify-content: space-between;
    }
    nav .left ul {
        display: none; 
    }

    nav .right {
        width: 100%;
        display: contents;
        padding: 0px;
        gap: 0px; 
    }

    nav .right input {
        width: 100%; 
    }

    nav .right button {
        width: 60px;
    }
    .slides div{
        padding-left: 0px;
    }

    .slides .content p {
        display: none; 
    }

    .slides h1 {
        align-self: flex-start; 
    }

    #recent
    {
      margin: 0px;
    }
    #recent .recent-images {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
 

    }
    
    

    #trending .trending_head{
        padding-left: 6vh;
    }

    #recent .re-header {
        padding-left: 6vh;
    }


    input:checked~nav{
        display: block;

    }


    footer{
        width: 100%;
        padding: 10px;
    }

  

    footer .left{
      gap: none;
    }

    footer .left p{
        display: none;
    }


    input:checked ~ header div nav div ul{
        display: block;
        position: fixed;
    }
     
   
    header div nav div ul{
        display: block;
        position: fixed;
        right: 10px;
        bottom: 111px;
        z-index: 9999;
    }

    body label i {
        color: var(--primary-color);
        size: 30px;
    }

}

/* =================== media queries ========================= */

